@model lab4a.Models.Item

@{
    ViewData["Title"] = "Index";
    var UserId = ViewData["id"];

}

<h1>Index</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserId" hidden class="control-label"></label>
        <input asp-for="UserId" hidden value="@UserId" class="form-control" />
        <span asp-validation-for="UserId"  class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text" class="control-label"></label>
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Done" /> @Html.DisplayNameFor(model => model.Done)
        </label>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>


</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in ViewData["items"] as IEnumerable<Item>)
        {
            //do stuff
        
        <tr>
            <td>
              <form asp-action="Edit"> 
                <button>  
                 @Html.DisplayFor(modelItem => element.Done) 
                </button>
                <input asp-for="Date" value="@element.Date" hidden/>
                <input asp-for="Id" value="@element.Id" hidden/>
                <input asp-for="UserId" value="@element.UserId" hidden/>
                <input asp-for="Text" value="@element.Text" hidden/>
                <input asp-for="Done" value="@element.Done" hidden/>
              </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.Date)
                <form asp-action="DeleteConfirmed">
                    <input value="@element.Id" hidden />
                    <input type = "submit" />
                </form>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@element.Id">Edit</a> |
 |
                <a asp-action="Delete" asp-route-id="@element.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
